<meta charset="UTF-8">
<title>Notes Database</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
  H1 {text-align: center}
  H2 {text-align: center}
  H3 {text-align: center}
  .jumbotron {
  margin: auto;
  width: 50%;
  border: 3px white;
  padding: 10px;
  }
  .col-sm-4 {
  margin: auto;
  width: 50%;
  border: 3px white;
  padding: 10px;
  }
</style>