<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>Secret Cereal Vault</h1>
      <p>What is your favourite cereal? (Don't worry, we won't tell anyone!)</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <form action="/secret" method=POST>
  		<label for="favCereal">Cereal:</label><br>
  		<input type="text" id="favCereal" name="favCereal"><br>
  		<input type="submit" value="Submit">
	  </form>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>